*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin-left: 1rem;
}

/* Paleta de colores: https://coolors.co/palette/2b2d42-8d99ae-edf2f4-ef233c-d90429 */